{% if wpsPendingRequests is defined %}
{% for device in wpsPendingRequests|keys %}
<h2>WPS PIN Request</h2>
Date: {{ wpsPendingRequests[device].log.ts|date('H:i:s') }}<br>
Access Point: {{ wpsPendingRequests[device].ap.Name }}<br>
Client MAC: {{ wpsPendingRequests[device].client_mac }}<br>
Client Info: {{ wpsPendingRequests[device].client_info }}<br>
<a id="req-{{ wpsPendingRequests[device].client_uuid }}" href="javascript:askWPSPin('{{ wpsPendingRequests[device].client_uuid }}','{{ wpsPendingRequests[device].ap.id }}','{{ wpsPendingRequests[device].if }}',)">Bestätigen</a>
<br>
{% endfor %}
</table>
{% endif %}

